# Environnements
**/.venv/

# Dossiers générés
**/quarkdown-output/
**/docs/
**/datasets/
output/

# Pycache et modules compilés
gaitpdb/__pycache__/
gaitpdb/**/__pycache__/
__pycache__/
*.pyc
*~

# Traces de compilation
*.so
*.o
*.class
